<div class="container mt-5 d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="card text-center shadow-lg p-4">
    <div class="card-body">
      <h1 class="card-title display-4 mb-4">Masa: {{ tableId }}</h1>
      <p class="lead">Sipariş İşlemleri Sayfası.</p>
      <hr class="my-4">

      <!-- Active Orders -->
      <div class="my-5" v-if="orderDetails.length">
        <h3 class="mb-4">Aktif Sipariş</h3>
        <ul>
          <li v-for="(product, index) in orderDetails" :key="index">
            {{ product.name }} - {{ product.quantity }}
          </li>
        </ul>
      </div>

      <h2 class="mb-4">Masa {{ tableId }} İçin seçenekler</h2>
      <ul class="list-unstyled">
        <li class="mb-3"><button class="btn btn-success btn-lg w-100" @click="createOrder">Sipariş Al</button></li>
        <li class="mb-3"><button class="btn btn-warning btn-lg w-100" @click="updateOrder">Siparişi Güncelle</button></li>
        <li class="mb-3"><button class="btn btn-danger btn-lg w-100" @click="cancelOrder">Siparişi İptal et</button></li>
        <li class="mb-3"><button class="btn btn-info btn-lg w-100" @click="bringBill">Hesap</button></li>
      </ul>
    </div>
  </div>
</div>
